body
{
  width: 100%;
  background-color: rgb(252, 252, 252);
  /* overflow: auto !important; */
}

.pusher
{
  padding-top: 6em;
}

#navpanel
{
  background-color: #7EA7BD;
  padding: 1em 0;
  margin: 0 !important;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
}

#nav
{
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: 'Biryani', sans-serif;
}

#nav a
{
  display: inline-block;
  font-size: 1.2em;
  font-weight: 300;
  color: rgb(47, 49, 51);
  text-transform: uppercase;
}

#cover
{
  position: relative;
  background-image: url('../img/facade.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding-bottom: 40.25%;
}

#cover::after
{
  content: ' ';
  display: block;
  height: 1px;
}

#cover-heading
{
  min-height: 100px;
  font-size: 1em;
}

#vid-bg
{
  position: relative;
  margin: 0 auto;
  padding-bottom: 56.5%;
}

#vid-bg iframe
{
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#vid-selection
{
  display: block;
  padding: 0;
  list-style-type: none;
  width: auto;
  text-align: center;
  margin: 0;
  background-color: rgb(37, 37, 37);
}

#vid-selection li
{
  display: inline-block;
  padding: 1em 1em;
  color: rgb(240, 240, 240);
  cursor: pointer;
}

#vid-selection li.active
{
  position: relative;
  background-color: orange;
  color: rgb(17, 17, 17);
}

#vid-selection li.active::before
{
  content: ' ';
  position: absolute;
  border-color: transparent;
  border-bottom-color: orange;
  border-width: 12px;
  border-style: solid;
  width: 1px;
  height: 1px;
  top: -21px;
  left: 50%;
  transform:translateX(-50%);
  z-index: 999;
}

@media(max-width: 600px)
{
  #vid-selection li
  {
    display: block;
  }

  #vid-selection li.active::before
  {
    display: none;
  }
}

@media(max-width: 1100px)
{
  #cover-heading
  {
    font-size: 0.85em;
  }
}

@media(max-width: 960px)
{
  #cover-heading
  {
    font-size: 0.75em;
  }
}

@media(max-width: 600px)
{
  #cover-heading
  {
    font-size: 0.5em;
  }
}

#cover-heading h1
{
  margin-top: 0.6em;
  font-size: 7.5em;
  font-family: 'Biryani', sans-serif;
  text-align: right;
  line-height: 0.9em;
  color: rgb(37, 37, 37);
}

#cover-heading .subheading
{
  font-size: 1.7em;
  font-family: 'Biryani', sans-serif;
  font-weight: 200;
  margin-bottom: 2em;
  margin-top: -0.5em;
  text-align: right;
}

.article
{
  max-width: 800px;
  margin: 1em auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}

.article h1, h2, h3, h4, h5, h6
{
  font-weight: 300 !important;
}

.article h1
{
  color: #7EA7BD;
  text-transform: uppercase;
}

.article h2, h3, h4, h5, h6
{
  color: rgb(47, 47, 47);
}

.article p, ul, ol, span, li
{
  color: rgb(67, 67, 67);
}

.gmap
{
  width: 100%;
  border: 6px solid rgba(62, 134, 148, 1) !important;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

#contact
{
  background-color: #CEE7EB;
  padding: 5em 1em 3em 1em;
  margin-top: -5em;
}

#contact ul
{
  list-style-type: none;
  padding: 0 !important;
  margin: 0;
}

#contact ul li
{
  width: 49%;
  margin: .25em 0;
  display: inline-block;
  font-size: 1.2em;
}

#contact ul li i.icon
{
  width: 2em;
}

.owl-carousel div.thumb
{
  background-size: cover;
  background-position: center;
}

.owl-carousel div.thumb::after
{
  content: ' ';
  display: block;
  padding-bottom: 70%;
}

#active-image
{
  width: 100%;
  padding-bottom: 46%;
  background-size: cover;
  background-position: center;
  margin: 0.5em 0;
}

a.sidebar-toggle
{
  display: none !important;
}

@media(max-width:700px)
{
  a.item.d-menu-item
  {
    display: none !important;
  }
  a.item.sidebar-toggle
  {
    display: inline-block !important;
  }
  #nav
  {
    text-align: left;
  }
}